* {
  box-sizing: border-box; }

html {
  height: 100%;
  box-sizing: border-box; }

body {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  overflow: hidden;
  position: relative;
  background-color: #008080; }

.container2 {
  margin:0;
  position: relative;
  overflow: auto;
}

#wrow {
  position: fixed;
}

.header-line {
  box-sizing: border-box;
  padding: 3px;
  border-bottom: 2px solid #DFDFDF;
  background-color: #C0C0C0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 38px;
  z-index: 100; }

.split-line {
  box-sizing: border-box;
  vertical-align: top;
  display: inline-block;
  height: 29px;
  width: 8px;
  background-image: url(../svg/split.svg);
  background-size: 8px 100%; }

.icon {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  height: 29px;
  width: 29px;
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: center; }

#github.icon {
  background-image: url(../svg/github.svg); }

#twitter.icon {
  background-image: url(../svg/twitter.svg); }

.desktop-icon {
  image-rendering: pixelated;
  margin-top: 60px;
  margin-left: 20px;
  width: 64px;
  height: 64px;
  font-family: 'Arial', sans-serif;
  text-align: center;
  color: white; }

.button {
  box-sizing: border-box;
  vertical-align: top;
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  line-height: 25px;
  padding-left: 31px;
  padding-right: 7px;
  height: 29px;
  color: black;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 5px center;
  border-top: 2px solid white;
  border-right: 2px solid #666;
  border-bottom: 2px solid #666;
  border-left: 2px solid white; }
  .button:hover {
    cursor: pointer; }

.button:active {
  border-top: 2px solid #222;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  border-left: 2px solid #222;
  padding-left: 32px;
  padding-right: 6px;
  background-position: 6px center; }

#start.button {
  font-weight: bold;
  background-image: url(../svg/favi.svg); }

#wip.button {
  background-image: url(../svg/cone.svg); }

#email.button {
  background-image: url(../svg/cone.svg); }

.top {
  z-index: 2; }

.bottom {
  z-index: 1; }

.start-menu {
  height: auto;
  position: absolute;
  top: 36px;
  background: #C0C0C0;
  border-top: 2px solid white;
  border-right: 2px solid #222;
  border-bottom: 2px solid #222;
  border-left: 2px solid white;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14px;
  visibility: hidden;
  display: block; }
  .start-menu.open {
    visibility: visible; }
  .start-menu .title-outer {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 37px;
    height: 100%;
    background: linear-gradient(#000184 60%, #0f80cd); }
    .start-menu .title-outer .title {
      vertical-align: top;
      position: absolute;
      transform: rotate(-90deg);
      color: white;
      bottom: 80px;
      left: -70px;
      font-size: 25px;
      font-weight: bold; }
      .start-menu .title-outer .title span {
        font-weight: 100; }
  .start-menu ul {
    margin: 0;
    padding: 0; }
    .start-menu ul li {
      padding: 18px 100px 18px 100px;
      list-style: none;
      background-repeat: no-repeat;
      background-position: 48px center;
      background-size: 33px;
      image-rendering: pixelated;
      background-image: url(../svg/me.svg); }
      .start-menu ul li:hover {
        background-color: #000184;
        color: white;
        cursor: pointer; }
    .start-menu ul .messenger {
      background-image: url(../svg/messenger.svg); }
    .start-menu ul .projects {
      background-image: url(../icons/project.ico); }
    .start-menu ul .personalstatement {
      background-image: url(../icons/personal.ico); }

.window-container {
  text-align: center;
  position: relative; }

.window {
  border-top: 2px solid white;
  border-right: 2px solid #222;
  border-bottom: 2px solid #222;
  border-left: 2px solid white;
  margin: 20px auto;
  background: #C0C0C0;
  position: relative;
  top: 50px;
  display: inline-block;
  visibility: hidden; }
  .window.open {
    visibility: visible; }

.window-title {
  position: relative;
  background: linear-gradient(90deg, #000184, #0f80cd);
  padding: 4px 6px 5px;
  color: white;
  font-size: 15px;
  margin-right: 2px;
  text-align: left; }
  .window-title:hover {
    cursor: move; }

.window-body {
  padding: 18px 60px 20px 70px;
  font-size: 14px;
  text-align: left; }

.button.close {
  font-size: 12px;
  color: black;
  background: #C0C0C0;
  display: inline-block;
  width: 23px;
  height: 20px;
  padding: 0;
  font-weight: bold;
  text-align: center;
  position: absolute;
  right: 3px;
  top: 3px;
  border-top: 2px solid white;
  border-right: 2px solid #222;
  border-bottom: 2px solid #222;
  border-left: 2px solid white;
  line-height: 16px;
  font-family: helvetica; }

/*# sourceMappingURL=base.css.map */
