.window {
	border-top: 2px solid white;
  	border-right: 2px solid #222;
  	border-bottom: 2px solid #222;
  	border-left: 2px solid white;
  	margin: 20px auto;
  	background: #C0C0C0;
  	position: relative;
  	top: 50px;
  	display: inline-block;
  	/*visibility: hidden;*/ 
}

.window-title {
	position: relative;
	background: linear-gradient(90deg, #000184, #0f80cd);
	padding: 4px 6px 5px;
	color: white;
	font-size: 15px;
	margin-right: 2px;
	text-align: left; 
}
.window-title:hover {
 	cursor: move; 
}

.window-body {
  padding: 18px 60px 20px 70px;
  font-size: 14px;
  text-align: left; }

.button.close {
  font-size: 12px;
  color: black;
  background: #C0C0C0;
  display: inline-block;
  width: 23px;
  height: 20px;
  padding: 0;
  font-weight: bold;
  text-align: center;
  position: absolute;
  right: 3px;
  top: 3px;
  border-top: 2px solid white;
  border-right: 2px solid #222;
  border-bottom: 2px solid #222;
  border-left: 2px solid white;
  line-height: 16px;
  font-family: helvetica; 
}

.button.close:active {
  border-top: 2px solid #222;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  border-left: 2px solid #222;
}

.contents-window {
  width:400px;
  background:white;
  height: 300px;
  overflow-y: scroll;
  border-top: 2px solid #222;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  border-left: 2px solid #222;
}